# ======================
# Python 编译缓存
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ======================
# Jupyter Notebook 临时文件
# ======================
.ipynb_checkpoints/
*.ipynb~

# ======================
# VS Code 配置缓存
# ======================
.vscode/

# ======================
# 数据与实验输出
# ======================
data/
# 或者更细粒度（如果只想忽略实验数据而保留文件夹结构）
# data/*

# ======================
# 环境、依赖文件
# ======================
.env
.venv/
*.env
*.venv
*.log

# ======================
# 系统文件
# ======================
.DS_Store
Thumbs.db

# ======================
# 临时、备份文件
# ======================
*.bak
*.tmp
ADMM.py
